body {
    background: #CCCCCC;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

/* 
PREFIXOS

{tag}
{tag1} {tag2} = todas as tag2 que estejam dentro de todas as tag1.
#{id}
.{classe}

*/